*.csv
*.diff
*.log
*.stacks
*.svg
.cache
.clangd
.dorkspacerc.cache.yaml
.gdb_history
.ipynb_checkpoints
.vscode
target
_*
bazel-*
build
compile_commands.json
node_modules
perf.*
tags
user.bazelrc
gmn*
